<div id="subheader"></div>
<div id="main"></div>
<div class="modal"></div>
<div class="new-product-modal"></div>

<script>
  $(document).ready(function(){
    HealthHunt.initialize();
    $(".header").css("background", "#da552f");
  });

  $body = $("body");
  $(document).ajaxStart(function() { $body.addClass("loading") });
  $(document).ajaxStop(function() { $body.removeClass("loading") });
</script>
