<div id="subheader"></div>
<div id="main"></div>
<div class="modal"></div>
<div class="new-product-modal"></div>

<script>
  $(document).ready(function(){
    HealthHunt.initialize();
  });
</script>
