<header class="subheader">
  <div class="prod-col-header">
    <h2><a href="#">Products</a></h2>
    <h2><a href="#/collections">Collections</a></h2>
  </div>
</header>.

<div id="main"></div>

<script>
  $(document).ready(function(){
    HealthHunt.initialize();
  });
</script>
