<ul class="follow-users-body">
  <% users.each( function (user) { %>
    <li>
      <a href="#/profile/<%= user.id %>"><%= user.get("email").match(/.+?(?=@)/) %></a>
      <% if ( user.id !== HealthHunt.currentUser.id ) { %>
        <button class="small-follow-button" data-id="<%= user.id %>">
          <% if ( HealthHunt.currentUser.follows(user.id) ) { %>
            Unfollow
          <% } else { %>
            Follow
          <% } %>
        </button>
        <% } %>
    </li>
  <% }) %>
</ul>
