<%= comment.get("author").match(/.+?(?=@)/) %>: <%= comment.get("body") %>"
<br>

<% if (comment.get("author_id") === HealthHunt.currentUser.get("id")) { %>
  <button class="delete-comment">Delete Comment</button>
<% } %>
