<a href="#/profile/<%= comment.get("author_id") %>"><h4><%= comment.get("author") && comment.get("author").match(/(\w+)@?/)[1] %></h4></a>
<p>"<%= comment.get("body") %>"</p>
<% if (comment.get("author_id") === HealthHunt.currentUser.get("id")) { %>
  <button class="delete-comment">Delete Comment</button>
<% } %>
