<div class="background-image"></div>
<div class="session-body">
  <div class="errors">
    <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
  </div>

  <form class="group" action="<%= users_url %>" method="post">
    <%= auth_token_input %>

    <input type="text" name="user[email]" value="" placeholder="Email">
    <input type="password" name="user[password]" value="" placeholder="Password">

    <input type="submit" class="button" value="Sign Up">
  </form>

  <a href="/auth/twitter">Sign in with Twitter</a>
</div>
