<h3>Choose Collection(s):</h3>

<form class="update-coll">
  <% HealthHunt.currentUser.collections().each(function (collection) { %>
    <% var idArray = [] %>

    <label>
      <input
        type="checkbox"
        name="collection_ids[]"
        value="<%= collection.get("id") %>"
        <% if (product.containsCollectionId(collection.id)) { %>
          checked
        <% } %>>
      <%= collection.escape("title") %>
    </label>
    <br>
  <% }) %>
</form>
<br>

<form class="new-collection-form">
  <h3>Create New Collection</h3>

  <label>
    Title
  <br>
    <input type='text' name='title'>
  <br>
  </label>

  <label>
    Description
  <br>
    <textarea name='description'></textarea>
  <br>
  </label>

  <button class="new-collection">Submit</button>
  <br>

  <br>
</form>

  <button class="prod-coll">Update Collections</button>
<br>
<a href="#/products/<%= product.id %>">Cancel</a>
