<h3>Add Product to Collection(s)</h3>

<div class="prod-coll-form-field">
  <form class="update-coll">
    <% HealthHunt.currentUser.collections().each(function (collection) { %>
      <% var idArray = [] %>

      <label>
        <input
          type="checkbox"
          name="collection_ids[]"
          value="<%= collection.get("id") %>"
          <% if (product.containsCollectionId(collection.id)) { %>
            checked
          <% } %>>
        <%= collection.escape("title") %>
      </label>
    <% }) %>
  </form>

  <form class="new-collection-form">
    <input type='text' name='title' placeholder="Enter New Collection Name">

    <button class="new-collection">Add to New Collection</button>
  </form>

  <button class="prod-coll">Submit</button>
  <a href="#/products/<%= product.id %>">Cancel</a>
</div>
