<div class="edit-collection-interior group">
  <form class="edit-collection-form" action="index.html" method="post">
    <input type='text' name='title' value='<%= collection.escape('title') %>' placeholder="Enter Collection Name">
    <input type="text" name="description" value="<%= collection.escape('description') %>" placeholder="Enter Description of Collection">

    <a href='#/collections/<%= collection.id %>'>Cancel</a>
    <button class="new-collection">Submit</button>
  </form>

  <button class="delete-collection">Delete Collection</button>
</div>
