<div class="edit-collection-interior group">
  <form class="edit-collection-form group">
    <input type='text' name='title' value='<%= collection.escape('title') %>' placeholder="Enter Collection Name">
    <input type="text" name="description" value="<%= collection.escape('description') %>" placeholder="Enter Description of Collection">

    <button class="upload-button">Upload</button>
    <input type="file" name="image" id="input-collection-image">


    <button class='cancel-form-grey'>Cancel</button>
    <button class="new-collection-submit">Submit</button>
  </form>

  <button class="delete-collection">Delete Collection</button>
</div>
