<ul>
  <% collections.each(function (collection) { %>
    <li>
      <a href="#/collections/<%= collection.id %>">
        <%= collection.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>
<br>

<a href="#/collections/new">Create New Collection</a>
