<div class="collection-header">
  <h2 class="collection-index-title">Popular Collections</h2>
  <h3 class="collection-index-subtitle">Collections Curated for You By You</h3>
</div>

<ul class="collections group">
  <% collections.each(function (collection) { %>
    <li class="collection" style="background-image: url('<%= collection.get("image_url") %>') ">
      <a href="#/collections/<%= collection.id %>">
        <%= collection.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>
