<div class="collection-header">
  <h2 class="collection-index-title">Popular Collections</h2>
  <h3 class="collection-index-subtitle">Collections Curated for You By You</h3>
</div>

<ul class="collections group">
  <% collections.each(function (collection) { %>
    <li class="collection">
      <a href="#/collections/<%= collection.id %>">
        <% if (collection.get("image_url") !== "/images/original/missing.png" ) { %>
          <img src="<%= collection.get("image_url") %>">
        <% } %>
        <%= collection.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>
