<div class="modal-screen"></div>

<form class="modal-form product-form">
  <h3><%= product.isNew() ? 'New Product' : 'Edit Product' %></h3>

  <input type='text' name='title' value='<%= product.escape('title') %>' placeholder="Enter Product Name">

  <input type='text' name='url' value='<%= product.escape('url') %>' placeholder="Enter Product URL">

  <textarea name='description' placeholder="Enter Product Description"><%= product.escape('description') %></textarea>

  <button class="new-product">Submit</button>

  <button class="close-modal">Cancel</a>

  <% if (!product.isNew()) { %>
    <button class="delete-product">Delete product</button>
  <% } %>
</form>
