<h3>Products</h3>

<ul>
  <% products.each(function (product) { %>
    <li>
      <a href="#/products/<%= product.id %>">
        <%= product.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>

<a href="#/products/new">Create New Product</a>
