/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, textarea,
ul, li, strong, main, i, a, h3,
section, img, div, h2, p, form,
fieldset, input, label, button, h4, h5,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}


input {
  color: black;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Main Content */

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#main {
  position: relative;
  top: 101px;
}

/* Header */

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0px;
}

.header-nav {
  margin: 0 auto;
  width: 900px;
}

.header-logo a {
  float: left;
  color: white;
  padding: 12px 30px;
  border-radius: 3px;
  font-size: 24px;
}

.header-logo a img {
  float: left;
  height: 35px;
  width: 35px;
  margin: -5px 10px 0 -20px;
}

.header-logo a:hover {
  background:rgba(255,255,255,0.2);
}

.session-header a {
  display: block;
  float: right;
  padding: 11px 20px;
  color: white;
  border: 1px solid #fff;
  border-radius: 3px;
  margin: 5px;
  font-size: 16px;
}

.session-header a:hover {
  background:rgba(255,255,255,0.2);
}

.logout {
  display: block;
  font-size: 16px;
  float: right;
  padding: 11px 20px;
  color: white;
  border: 1px solid #fff;
  border-radius: 3px;
  margin: 5px;
}

.logout:hover {
  background:rgba(255,255,255,0.2);
  cursor: pointer;
}

.user-email {
  color: white;
  float: right;
  padding: 10px 20px;
  border-left: 1px solid #fff;
}

/* Login/Sign Up Form */

.background-image {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: image-url("login_image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.session-body {
  width: 300px;
  height: 150px;
  position: relative;
  top: 150px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 20px;
  color: white;
  border-radius: 10px;
}

.session-body form.group {
  padding: 10px;
}

.session-body input {
  display: block;
  background: white;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 3px;
  width: 240px;
  height: 25px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.session-body .button {
  padding: 0 5px 0 5px;
  display: block;
  margin: auto;
  height: 30px;
  width: 250px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background: #00aced;
  text-align: center;
}

.session-body .button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6)
}

.session-body .button:active {
  background: #43c5f6;
  color: #817d7d;
}

.session-body a {
  line-height: 30px
}

.errors {
  font-size: 16px;
  text-align: center;
}

/* Subheader */

.subheader {
  display: block;
  position: fixed;
  z-index: 5;
  top: 52px;
  color: #da552f;
  border-bottom: 1px solid #da552f;
  background: white;
  width: 100%;
}

.prod-col-header {
  display: block;
  margin: auto;
  width: 900px;
  z-index: 10;
}

.prod-col h2 {
  float: left;
}

.prod-col a {
  display: block;
  padding: 15px 20px;
}

.prod-col a:hover {
  background: #da552f;
  color: white;
}

.active-subheader {
  box-shadow: 0 4px 2px -2px #da552f;
  font-weight: bold;
}

.right-subheader {
  display: block;
  float: right;
}

.add-product {
  display: block;
  float: left;
  margin: 10px 0 0 0;
  background: white;
  color: #da552f;
  font-size: 24px;
  font-weight: 100;
}

.add-product .new-product {
  display: block;
  padding: 0 7.5px 2px 7.5px;
  border-radius: 50%;
}

.add-product .new-product:hover {
  background-color: rgba(215, 86, 55, 0.8);
  color: white;
  cursor: pointer;
}

.search-bar {
  display: block;
  position: relative;
  float: right;
}

.search-bar label {
  position: absolute;
  top: 16px;
  left: 31px;
}

.search-bar input {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #da552f;
  color: #534540;
  margin: 5px 5px 5px 10px;
}

/* Product Index */

.products {
  margin: auto;
  width: 900px;
  padding: 10px 0 0 20px;
}

.date {
  color: grey;
  font-size: 20px;
  padding: 10px 0;
}

.product {
  display: block;
  position: relative;
}

.product-info {
  float: left;
  padding: 0 0 0 20px;
}

.product-info h3 {
  display: block;
  margin: 0 0 5px 0;
  font-size: 20px;
  font-weight: bold;
  color: #534540;
}

.product-info p {
  color: #a7a6a6;
}

.product-link {
  display: block;
  cursor: pointer;
  float: left;
  width: 100%;
  padding: 10px;
}

.product:hover {
  background: #f0f0f0;
  border-radius: 5px;
}
.prod-coll-link {
  display: block;
  position: absolute;
  color: #a7a6a6;
  right: 10px;
  top: 25px;
  cursor: pointer;
}

.prod-coll-link:hover {
  color: #da552f;
}


/* Upvote Button */

.upvote {
  float: left;
  background: #eaeaea;
  padding: 20px 13px 5px 13px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  border-bottom: 1px solid #a7a6a6;
  width: 8px;
  cursor: pointer;
  color: #534540;
  margin: 3px;
}

.upvote-button {
  cursor: pointer;
  position: relative;
}

.upvote-triangle {
  position: absolute;
  content: "";
  top: -11px;
  left: -3px;
  border-bottom: 7px solid #534540;
  border-top: 0;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

/* Collection Index */

.collections-index {
  margin: auto;
  width: 900px;
  padding: 0 0 0 20px;
}

.collection-header {
  text-align: center;
  padding: 20px 20px 40px 20px;
}

.collection-index-title {
  font-size: 28px;
  color: #534540;
}

.collection-index-subtitle {
  font-size: 18px;
  color: #a7a6a6;
}

.collections {
  width: auto;
}

.collection {
  position: relative;
  z-index: 1;
  float: left;
  border-radius: 5px;
  margin: 10px;
  color: white;
  background: #534540;
  overflow: hidden;
  background-size: cover;
  background-position: 100%;
}

.collection a {
  float: left;
  border-radius: 5px;
  width: 205px;
  height: 220px;
  cursor: pointer;
  text-align: center;
  line-height: 200px;
  font-size: 18px;
  letter-spacing: 1px;
}

.collection a:before {
  content: "";
  position: absolute;
  z-index: -100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  background: black;
}

.collection a:hover:before {
  opacity: 0;
}

/* Collection Show */

.collection-show-header {
  position: relative;
  background: #534540;
  height: 240px;
  overflow: hidden;
}

.collection-show-header img{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.5;
}

.collection-show-header-content {
  position: relative;
  color: white;
  margin: auto;
  width: 900px;
  padding: 80px 0 80px 100px;
}

.collection-show-header-content h3 {
  font-size: 36px;
  padding: 0 0 20px 0;
}

.collection-show-header-content h4 {
  margin: 0 0 5px 0;
}

.collection-show-header-content a:hover {
  color: #da552f;
}

.edit-collection-button {
  position: absolute;
  top: 100px;
  right: 150px;
  padding: 10px;
  background: #da552f;
  border-radius: 15px;
  cursor: pointer;
}

.collection-show-body {
  margin: auto;
  width: 900px;
  padding: 20px 0 0 20px;
}

/* Product Show */

.prod-show-header {
  position: relative;
  background: #534540;
  color: white;
  padding: 40px 0 40px 90px;
}

.prod-show-header h3 {
  font-size: 24px;
  padding: 0 0 10px 0;
}

.prod-show-header h4 {
  font-size: 18px;
  padding: 0 0 30px 0;
  color: rgba(255,255,255,0.5);
}

.prod-show-header a {
  padding: 10px;
  background: #46bf5b;
  border-radius: 15px;
  font-size: 14px;
  margin: 0 15px 0 0;
}

.prod-show-header .edit-product {
  padding: 10px;
  background: #da552f;
  border-radius: 15px;
  font-size: 14px;
  margin: 0 15px 0 0;
  cursor: pointer;
}

.prod-show-subheader {
  position: relative;
  background: #eaeaea;
  color: #a7a6a6;
}

.prod-coll-link-prod-show {
  display: block;
  position: absolute;
  color: #a7a6a6;
  right: 25px;
  top: 15px;
  cursor: pointer;
}

.prod-show-subheader h4{
  float: left;
  padding: 15px 20px;
}

.prod-show-body {
  position: relative;
  padding: 15px 0 15px 50px;
  background: white;
}

.prod-show-body h5 {
  color: #a7a6a6;
  margin: 0 0 10px 0;
}

.prod-show-body .comments {
  margin: 20px;
}

.prod-show-body .comments li {
  margin: 10px 0;
}

.prod-show-body .comments-form {
  margin: 20px;
}

.comment-show {
  display: block;
  color: #534540;
}

.comment-show h4 {
  font-size: 14px;
  font-weight: bold;
}

.comment-show p {
  margin: 10px 15px 0 15px;
}

.delete-comment {
  padding: 0 0 0 10px;
  font-size: 10px;
  cursor: pointer;
  margin: 5px 30px 10px 0;
  background: #ec4040;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
}

.new-comment {
  cursor: pointer;
  font-size: 12px;
  padding: 5px 10px;
  background: #46bf5b;
  border-radius: 15px;
  color: white;
  margin: 5px 0 0 0;
}

.comments-form textarea {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 5px;
  width: 290px;
  font-size: 14px;
  height: 100px;
  resize: none;
}

.big-upvote {
  position: absolute;
  top: 50px;
  left: 25px;
  background: rgba(255,255,255,0.2);
  padding: 26px 17px 8px 16px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  width: 8px;
  cursor: pointer;
  color: white;
}

.big-upvote-button {
  cursor: pointer;
  position: relative;
}

.big-upvote-triangle {
  position: absolute;
  content: "";
  top: -15px;
  left: -3px;
  border-bottom: 10px solid white;
  border-top: 0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

/* Product Form */

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  cursor: pointer;
}

.modal-form {
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -220px;
  width: 450px;
  background: #eaeaea;
  z-index: 1002;
  border-radius: 5px;
  border: 1px solid #a7a6a6;
}

.product-form h3 {
  background: #534540;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 20px 10px 20px 0 ;
}

.new-product-errors {
  font-size: 16px;
  text-align: center;
  color: #534540;
  padding: 10px 0 0 0;
}

.product-form textarea,
.product-form input {
  text-align: left;
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 5px;
  width: 390px;
  margin: 10px auto;
  font-size: 14px;
}

.product-form textarea {
  height: 100px;
  resize: none;
}

.product-form button,
.product-form a {
  padding: 10px 15px;
  background: #46bf5b;
  border-radius: 15px;
  font-size: 16px;
  color: white;
  margin: 10px 0 10px 15px;
}

.product-form button {
  cursor: pointer;
}

.product-form .new-product {
  margin: 0 0 10px 30px;
}

.product-form .delete-product {
  display: block;
  float: right;
  margin: 5px 30px 10px 0;
  background: #ec4040;
}

.product-form .close-modal {
  background: #534540;
}

/* New Collection Form */

.product-collection-form {
  position: absolute;
  top: 30px;
  right: -20px;
  z-index: 4;
  background: #eaeaea;
  border-radius: 5px;
  border: 1px solid black;
  margin: 20px;
  width: 300px;
}

.product-collection-product-show .product-collection-form{
  margin: 15px 35px 0 0;
}

.product-collection-form h3 {
  background: #534540;
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 10px 0 ;
}

.prod-coll-form-field {
 padding: 10px;
}

.update-coll {
  color: #534540;
}

.update-coll label {
  display: block;
  font-size: 16px;
  padding: 5px 0 5px 10px;
}

.new-collection-errors {
  font-size: 14px;
  color: #534540;
  margin: 5px 0 0 10px;
}

.new-collection-form input {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 5px;
  width: 260px;
  margin: 10px 5px;
  font-size: 14px;
}

.product-collection-form button,
.product-collection-form a {
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin: 5px 0 10px 10px;
}

.prod-coll,
.new-collection {
  background: #46bf5b;
}

.cancel-form {
  background: #534540;
}

/* Edit Collection Form */

.edit-collection {
  color: white;
  overflow: hidden;
  position: relative;
}

.edit-collection img{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.5;
  overflow: hidden;
}

.edit-collection-interior {
  width: 900px;
  margin: auto;
  padding: 0 0 0 20px;
  position: relative;
}

.edit-collection-form {
  padding: 50px 0 0 0;
  height: 190px;
  float: left;
}

.edit-collection-form input {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px 10px;
  width: 400px;
  font-size: 16px;
  color: #534540;
}

.edit-collection-form input:first-child {
  margin: 0 0 20px 0;
}

.edit-collection a,
.edit-collection button{
  float: right;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 16px;
  color: white;
  margin: 15px 0 0 15px;
  cursor: pointer;
}

.upload-button {
  background: #00aced;
}

#input-collection-image {
  display: none;
}

.new-collection {
  background: #46bf5b;
  display: block;
  float: left;
}

.new-collection-submit {
  background: #46bf5b;
  display: block;
  float: right;
}

.cancel-form-grey {
  background: grey;
  display: block;
  float: right;
}

.delete-collection {
  background: #ec4040;
  position: absolute;
  top: 85px;
  right: 50px;
}

/* Product Show modal */

.modal {
}

.modal-main {
  border-left: solid 1px #a7a6a6;
  z-index: 1001;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 700px;
  overflow: auto;
  background: white;
}

.modal-blur {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0.2;
  width: 100%;
  cursor: pointer;
}

.modal-hide {
  overflow: hidden;
  height: 100%;
  position: relative;
}

/* Profile */

.profile-header {
  position: relative;
  background: #534540;
  overflow: hidden;
}

.profile-header-content {
  position: relative;
  height: 240px;
  color: white;
  margin: auto;
  width: 900px;
}

.profile-header-content h3 {
  font-size: 36px;
  position: absolute;
  top: 60px;
  left: 60px;
}

.follow-button {
  cursor: pointer;
  position: absolute;
  right: 150px;
  top: 60px;
  padding: 10px 30px;
  background: #00aced;
  border-radius: 15px;
}

.profile-header-nav {
  position: absolute;
  bottom: 0;
  left: 0;
}

.profile-header-nav a {
  float: left;
  width: 180px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  background:rgba(255,255,255,0.2);
}

.profile-header-nav a:first-child {
  border-top-left-radius: 5px;
}

.profile-header-nav a:last-child {
  border-top-right-radius: 5px;
}

.profile-header-nav a:hover {
  background:rgba(255,255,255,0.3);
}

#profile-header-nav-active {
  background: white;
  color: #534540;
}

.profile-body {
  margin: 10px 0 0 0;
}

/* Follow User Index */

.follow-users {
  margin: auto;
  width: 900px;
  padding: 10px 0 0 20px;
}

.follow-users-body {
  display: block;
  float: left;
  color: #534540;
  font-size: 20px;
}

.follow-users-body a {
  padding: 20px 450px 20px 20px;
  width: 450px;
  cursor: pointer;
}

.follow-users-body li {
  position: relative;
  float: left;
  width: 450px;
  padding: 20px 0;
}

.follow-users-body li:hover {
  background: #f0f0f0;
  border-radius: 5px;
}

.small-follow-button {
  cursor: pointer;
  color: white;
  position: absolute;
  right: 20px;
  top: 16px;
  padding: 5px 15px;
  background: #00aced;
  border-radius: 15px;
  font-size: 18px;
}

.small-follow-button:hover {
  opacity: 0.8;
}

/* Spinner */

.loading-modal {
  display: none;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( 255, 255, 255, .9 );
}

.modal-image {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 128px;
  width: 128px;
  margin: auto;
  background: image-url("spinner.png") no-repeat left center;
}

body.loading {
  overflow: hidden;
}

body.loading .loading-modal {
  display: block;
}
