/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1,
ul, li, strong, main, i, a,
section, img, div, h2, p, form,
fieldset, label, label, button, h3,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Main Content */

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
}

#main {
  position: relative;
  margin: auto;
  padding: 75px;
  width: 900px;
}

/* Header */

.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0px;
  background: #D75637;
  font-size: 20px;
}

.header-nav {
  margin: 0 auto;
  width: 900px;
  border-right: 1px solid #fff;
}

.header-logo a {
  float: left;
  color: white;
  padding: 10px 30px;
}

.header-logo a:hover {
  background:rgba(255,255,255,0.2);
}

.session-header a {
  display: block;
  float: right;
  padding: 10px 20px;
  color: white;
  border-left: 1px solid #fff;
}

.session-header a:hover {
  background:rgba(255,255,255,0.2);
}

.logout {
  display: block;
  outline: none;
  border: none;
  background: #D75637;
  font-size: 20px;
  float: right;
  padding: 10px 20px;
  color: white;
  border-left: 1px solid #fff;
}

.logout:hover {
  background:rgba(255,255,255,0.2);
  cursor: pointer;
}

.user-email {
  display: block;
  color: white;
  float: right;
  padding: 10px 20px;
  border-left: 1px solid #fff;
}

.session-body {
  width: 300px;
  height: 200px;
  background-color: red;
  position: relative;
  top: 150px;
  left: 0;
  right: 0;
  margin: auto;
  background: #D75637;
  font-size: 20px;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.session-body form.group {
  position: relative;
  padding: 30px 10px;
}

.session-body label {
  display: block;
  padding: 5px;
}

.session-body input {
  display: block;
  float: right;
  background: white;
  padding: 0 10px;
  width: 150px;
  height: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.session-body .button {
  position: absolute;
  top: 150px;
  right: 115px;
  height: 30px;
  width: 75px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  outline: none;
  background: #6f6c6c;
}

.session-body .button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.session-body .button:active {
  background: #a9a5a5;
}

/* Subheader */

.subheader {
  display: block;
  position: fixed;
  z-index: 5;
  top: 43px;
  color: #D75637;
  border-bottom: 1px solid #D75637;
  background: white;
  width: 100%;
}

.prod-col-header {
  display: block;
  margin: auto;
  width: 900px;
  z-index: 10;
}

.prod-col h2 {
  float: left;
}

.prod-col a {
  display: block;
  padding: 15px 20px;
}

.prod-col a:hover {
  background: #D75637;
  color: white;
}

.active-subheader {
  box-shadow: 0 4px 2px -2px #D75637;
  font-weight: bold;
}

.add-product {
  display: block;
  float: right;
  margin: 10px 150px 0 0;
  background: white;
  color: #D75637;
  font-size: 24px;
  font-weight: 100;
}

.add-product a {
  display: block;
  padding: 0 8px 2px 8px;
  border-radius: 50%;
}

.add-product a:hover {
  background-color: rgba(215, 86, 55, 0.8);
  color: white;
}

/* Product Index */

.date {
  color: grey;
  font-size: 20px;
  padding: 10px 0;
}

.product {
  display: block;
  position: relative;
  margin: 10px 0;
}

.product-info {
  float: left;
  padding: 0 0 0 20px;
}

.product-info h3 {
  display: block;
  margin: 0 0 5px 0;
  font-size: 20px;
  font-weight: bold;
  color: #3e3e3e;
}

.product-info p {
  color: #a7a6a6;
}

.product-link {
  display: block;
}

/* Upvote Button */

.upvote {
  float: left;
  background: #eaeaea;
  padding: 20px 13px 5px 13px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  border-bottom: 1px solid #a7a6a6;
  width: 8px;
  cursor: pointer;
  color: #3e3e3e;
}

.upvote-button {
  cursor: pointer;
}

.upvote-triangle {
  position: absolute;
  content: "";
  top: 8px;
  left: 10px;
  border-bottom: 7px solid #3e3e3e;
  border-top: 0;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}
