<header class="subheader">
  <div class="prod-col-header">
    <div class="prod-col">
      <h2><a href="#">Products</a></h2>
      <h2><a href="#/collections">Collections</a></h2>
    </div>

    <input type="text" id="query">
    <button>Search</button>

    <div class="add-product">
      <button class="new-product">+</a>
    </div>
  </div>
</header>
