<header class="subheader">
  <div class="prod-col-header group">
    <div class="prod-col">
      <h2><a href="#">Products</a></h2>
      <h2><a href="#/collections">Collections</a></h2>
    </div>

    <div class="right-subheader">
      <div class="add-product">
        <button class="new-product">+</a>
      </div>

      <div class="search-bar">
        <label for="query">Search</label>
        <input type="text" id="query">

      </div>
    </div>
  </div>
</header>
